<!DOCTYPE html>
<html lang="en">
{% if song %}
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scan/style.css' %}">
    <title>{{artist.artist_name}}-{{song.song_title}}</title>

</head>
<body>
<h1>Buru</h1>
<h3><a href="/">Home</a></h3>
<h5>{{artist.artist_name}} – {{song.song_title}}</h5>
<h5>{{song.song_plays}} scans</h5>
{% else %}
    <p>No songs are available.</p>
{% endif %}
</body>
</html>
