<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scan/style.css' %}">
    <title>Buru</title>
</head>
<body>
<h1>Buru</h1>
<h3><a href="/">Home</a></h3>

<h2>Scan history</h2>
{% if lines %}
    <ul style="list-style-type:none">
    {% for line in lines %}
        <li>{{line}}</li>
    {% endfor %}
    </ul>
{% else %}
    <h4>Empty history.</h4>
{% endif %}
</body>
</html>
