<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scan/style.css' %}">
    <title>Buru</title>
</head>
<body>
<h1>Buru</h1>
    <h2><a href="{% url 'result' %}">Scan</a></h2>
<h2>Most scanned songs</h2>
{% if billboard %}
    <ul style="list-style-type:none">
    {% for song in billboard %}
        <li><a href="{% url 'detail' song.id %}">{{ song.song_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No songs are available.</p>
{% endif %}

{% if user.is_authenticated %}
  <h3><a href="{% url 'logout' %}">Log out</a></h3>
  <h3><a href="{% url 'history' %}">History</a></h3>
{% else %}
    <h3><a href="{% url 'login' %}">Log in</a></h3>
    <h3><a href="{% url 'signup' %}">Register</a></h3>

{% endif %}
</body>
</html>
