<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scan/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Buru</h1>
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
</body>
</html>
