<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scan/style.css' %}">
    <title>Result</title>
</head>
<body>
<h1>Buru</h1>
<h3><a href="/">Home</a></h3>
{% if error %}
<p>No match.</p>
{% else %}
<h3>The song you scanned is {{artist}} - {{song}}</h3>
{% endif %}
</body>
</html>

