body {
    background-color: #95a5a6;
    text-align: justify;
    font-size: 16x;
    margin: 0 auto;
    width: 500px;
    font-family: Helvetica;
}

h2 {
    color: pink;
}
h3 {
    color: pink;
}
h5 {
    color: pink;
}
p {
    color: pink;
}

a{
    color: pink;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: pink;
}
a:hover{
    color: white;
}
h1{
    width: 10em;
    text-align: left;
    font-style: italic;
    color: pink;
}
