<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'scan/style.css' %}">
    <title>Log in</title>
</head>
<body>
<h1>Buru</h1>
<h3><a href="/">Home</a></h3>
<h2>Log in</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log in</button>
</form>
</body>
</html>
